/*DEVELOPER: Mario Levano IS117-002, Spring 2023 */
* {
    margin:0;
    padding:0;
}

body {
    background-color: #5fa0b7;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar {
    background:#7393B3;
    font-family: Merriweather;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
footer {
    background-color: #7393B3;
    clear: both;

}
footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
    font-family: Merriweather;
}
p{
    font-family: Merriweather;
}
h5{
    font-family: Merriweather;
}
h1 {
    font-family: Merriweather;
}